<div class="view" style="margin-top: 10em;">
  
    <div class="container form-container">
      
      <form [formGroup]='loginForm' class="col-md-5">
        <div class="align-center col-md-12">
          <h1 class="align-center">Login: </h1>
          <div *ngIf="inValidLogin" class="alert alert-danger">
              <span>We're sorry, something went wrong when attempting to log in.</span>
          </div>
        </div>
        <div class="">
          <div class="row">
            
            <div class="col-md-12">
              <input type="text" class="form-control" formControlName="user_id" placeholder="User Id">
            </div>
          </div>
          <br>
      
        </div>
        <div class="row">
            <div class="align-center col-md-12">
                <button class="btn btn-primary" [disabled]="!loginForm.valid"  (click)="loginUser()">Login</button>
              </div>
        </div>
        <br>
        
      </form>
    </div>
    
  </div>
  
  