<div class="navbar navbar-inner navbar-fixed-top" >
    <div class="navbar-header">
        <ul class="nav navbar-nav nav-pills navBarPadding">
           
            <li routerLinkActive="active"><a routerLink="/dashboard">Dashboard</a></li>
            <li routerLinkActive="active"><a routerLink="/addHackathon">Add New Hackathon</a></li>
            
        </ul>
        
    </div>
    <div class="navbar-header pull-right">
        <ul class="nav navbar-nav nav-pills navBarPadding">
            <li routerLinkActive="active"><a (click)="logOut()">Logout</a></li>
        </ul>
    </div>
    
</div>

