.container {
    width: 90%;
    margin: 100px auto;
}

h1
{
  text-transform: uppercase;
  font-weight: 900;
  border-left: 10px solid #fec500;
  padding-left: 10px;
  margin-bottom: 30px
}

.table-dark {
    background-color: #262626;
    color: #fff;
}